/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   reset CSS
   */

   html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
       display: block;
   }
   body {
       line-height: 1;
   }
   ol,
   ul {
   }
   blockquote,
   q {
   }
   blockquote:before,
   blockquote:after,
   q:before,
   q:after {
       content: "";
   }
   table {
       border-collapse: collapse;
       border-spacing: 0;
   }
   /* ////////////////////////////////////////*/
   
   body {
       margin: 0;
       overflow: scroll;
       min-width: 1000px;
   }
   .ly-wrap-defectMap {
       display: grid;
       grid-template-columns: repeat(8, 1fr);
       grid-gap: 10px;
       grid-auto-rows: minmax(50px, auto);
   }
   .ly-top {
       grid-column: 1/10;
       grid-row: 1;
       padding: 10px;
   }
   .top-filter {
       border: 1px solid black;
       width: calc(100% - 3px);
       justify-content: center;
       display: flex;
       text-align: center;
       gap: 5px;
       padding: 10px 0;
   }
   .top-filter label {
       display: block;
       background-color: cornflowerblue;
       padding: 5px 0;
       /* border: 1px solid red; */
   }
   .ly-middle {
       height: auto;
       grid-column: 1/10;
       grid-row: 2/5;
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-gap: 20px;
       grid-auto-rows: minmax(50px, auto);
   }
   .ly-wrap-defectMap .ly-middle-l {
       grid-column: 1/9;
       grid-row: 1/8;
       border: 1px solid gray;
       border-radius: 5px;
       /* min-width: 550px; */
   }
   .ly-wrap-defectMap .ly-middle-r {
       grid-column: 9/13;
       grid-row: 1/8;
       border: 1px solid gray;
       border-radius: 5px;
       /* min-width: 400px; */
   }
   .ly-content {
       padding: 10px;
   }
   .ly-title {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: yellow;
       border: 1px solid gray;
       padding: 5px;
       line-height: 24px;
   }
   .ly-wrap-defectMap .image-container {
       padding: 10px 0;
   }
   .ly-wrap-defectMap .image-label {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
   }
   .ly-wrap-defectMap .image-main {
       padding-top: 20px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   .ly-wrap-defectMap .image-detail {
       width: auto;
       /* display: flex; */
       /* align-items: center; */
   }
   
   .axis-filter {
       display: flex;
       align-items: center;
       gap: 5px;
   }
   
   .ly-zoom {
       display: flex;
       align-items: center;
       gap: 5px;
   }
   
   .title-comment {
       padding-top: 10px;
   }
   .pivot-chart {
       margin-top: 15px;
   }
   
   .pivot-container {
       width: 100%;
   }
   
   .pivot-xAxis {
       width: 100%;
   }
   .pivot-xAxis-label {
       display: flex;
       text-align: center;
   }
   
   .pivot-xAxis-label-zero {
       visibility: hidden;
       background-color: aquamarine;
       border: 1px solid black;
       min-width: 50px;
       padding: 10px 0;
       margin-right: 5px;
   }
   .pivot-xAxis-label-one {
       min-width: calc((100% - 65px) / 2);
       background-color: aquamarine;
       border: 1px solid black;
       padding: 10px 0;
       margin-right: 5px;
   }
   .pivot-xAxis-label-two {
       min-width: calc((100% - 65px) / 2);
       background-color: bisque;
       border: 1px solid black;
       padding: 10px 0;
   }
   
   .pivot-yAxis {
       display: flex;
       margin-top: 5px;
   }
   .pivot-yAxis-label {
       text-align: center;
   }
   .pivot-yAxis-label-one {
       background-color: aquamarine;
       border: 1px solid black;
       min-width: 50px;
       height: 300px;
       line-height: 300px;
   }
   .pivot-yAxis-label-two {
       background-color: bisque;
       border: 1px solid black;
       min-width: 50px;
       margin-top: 5px;
       height: 300px;
       line-height: 300px;
   }
   
   .pivot-content {
   }
   .pivot-content-top {
       display: flex;
   }
   .pivot-content-down {
       margin-top: 5px;
       display: flex;
   }
   
   .pivot-content-one {
       border: 1px solid black;
       margin-left: 5px;
       width: calc((100% - 15px) / 2);
       max-height: 300px;
       overflow: scroll;
   }
   /* .pivot-content-one::-webkit-scrollbar {
       display: none;
   } */
   
   .pivot-content-two {
       border: 1px solid black;
       margin-left: 5px;
       width: calc((100% - 15px) / 2);
       max-height: 300px;
       overflow: scroll;
   }
   /* .pivot-content-two::-webkit-scrollbar {
       display: none;
   } */
   
   img {
       width: calc((100% - 7px) / 2);
       height: calc(100% - 7px);
   }